name: Build LabApiExtensions

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:
    # allows manual trigger

jobs:
  build:
    runs-on: windows-latest
    
    #LabAPI references
    env:
      REFERENCES_URL: https://exmod-team.github.io/SL-References/Dev.zip
      REFERENCES_PATH: ${{ github.workspace }}/References
      MAINPATH: LabApiExtensions.Full.csproj
      
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4.0.1

      - name: Download References
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri ${{ env.REFERENCES_URL }} -OutFile "${{ github.workspace }}/References.zip"
          Expand-Archive -Path "${{ github.workspace }}/References.zip" -DestinationPath ${{ env.REFERENCES_PATH }}

      - name: Rename Assembly-CSharp-Publicized to Assembly-CSharp
        shell: pwsh
        run: |
            Rename-Item -Path "${{ env.REFERENCES_PATH }}\Assembly-CSharp-Publicized.dll" -NewName "Assembly-CSharp.dll"
            
      - name: Build Main
        env:
          SL_REFERENCES: ${{ env.REFERENCES_PATH }}
        shell: pwsh
        run: |
          dotnet build ${{ env.MAINPATH }} -c Release -o:Main
